# Eclipse
.classpath
.project
.settings/


# Intellij
.idea/
*.iml
*.iws
.idea/**/gradle.xml
.idea/**/libraries
.idea/*
/out/"
.idea/replstate.xml
.idea/eclipseCodeFormatter.xml
/workspace.xml
/shelf/

#Log4j
Log4j/log4j-application.log

debug.log

/Log4j/
*.txt

build
build/downloads

test-result/reports

out

META-INF

documents

README.md

/target
dependency-reduced-pom.xml

release